@using System.Linq
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="tabs-panel @(Model.Rendering.Properties["IsActive"] == "True" ? "is-active" : "")" id="@Model.Rendering.Properties["PanelId"]">
    @{ 
        var db = Model.Item.Database;
        var query = @"fast:/ancestor::*[@@templatename='Website']//*[@@templatename='SettingsFolder']//*[@@templatename='DictionaryRoot']//*[@@name='ReviewsTab']";
        var reviewsTab = db.SelectSingleItem(query);
        var myReviewLabel = reviewsTab.Children["MyReviewLabel"];
        var reviewPlaceholder = reviewsTab.Children["ReviewPlaceholder"];
        var submitReviewButton = reviewsTab.Children["SubmitReviewButton"];
    }
    <h4 id="@reviewsTab.ID">Reviews</h4>
    <div class="media-object stack-for-small">
        <div class="media-object-section">
            <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
            <h5>Mike Stevenson</h5>
            <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
        </div>
    </div>
    <div class="media-object stack-for-small">
        <div class="media-object-section">
            <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
            <h5>Mike Stevenson</h5>
            <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
        </div>
    </div>
    <div class="media-object stack-for-small">
        <div class="media-object-section">
            <img class="thumbnail" src="http://placehold.it/200x200">
        </div>
        <div class="media-object-section">
            <h5>Mike Stevenson</h5>
            <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
        </div>
    </div>
    <label>
        @Html.Sitecore().Field("Phrase", myReviewLabel)
        <textarea placeholder="@Html.Sitecore().Field("Phrase", reviewPlaceholder, new { DisableWebedit = true })"></textarea>
    </label>
    <button class="button">@Html.Sitecore().Field("Phrase", submitReviewButton, new { DisableWebedit = true })</button>
</div>