@using Sitecore.Data.Fields
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="tabs-panel @(Model.Rendering.Properties["IsActive"] == "True" ? "is-active" : "")" id="@Model.Rendering.Properties["PanelId"]">
    <div class="row medium-up-3 large-up-5">
        @{ 
            var relatedProductItems = Model.PageItem.Parent.Axes.SelectItems(@"./*[@@templatename='Product Page' and @@id != '" + Model.PageItem.ID + "']").Take(5) ?? new Sitecore.Data.Items.Item[] { };
        }
        @foreach (var product in relatedProductItems)
        {
            <div class="column">
                @Html.Sitecore().Field("MainImage", product, new { @class = "thumbnail", w = 350, h = 200, @as = 1, bc = "white" })
                <h5>@Html.Sitecore().Field("Name", product) <small>$ @Html.Sitecore().Field("Price", product)</small></h5>
                <p>@Html.Sitecore().Field("Description", product)</p>
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(product)" class="button hollow tiny expanded">Buy Now</a>
            </div>
        }
    </div>
</div>
