@using Sitecore.Data.Items
@using Sitecore.Foundation.FedEx
@model Sitecore.Mvc.Presentation.RenderingModel
<ul class="@(Model.Rendering.Parameters["Menu"] == "1" ? "menu" : "") @(Model.Rendering.Parameters["Vertical"] == "1" ? " vertical" : "")">
    @foreach (var menuItem in (IEnumerable <Item>)Model.Item.Children)
    {
        if (menuItem.Template.Name == "TextItem")
        {
            <li class="menu-text">@Html.Sitecore().Field("Text", menuItem)</li>
        }
        else if (menuItem.Template.Name == "LinkItem")
        {
            <li>@Html.Sitecore().Field("Link", menuItem)</li>
        }
        else if (menuItem.Template.Name == "ImageItem")
        {
            <li class="menu-text"><a href="@Html.Sitecore().GetLinkFieldUrl(menuItem, "Link")">@Html.Sitecore().Field("Image", menuItem, new {w=160})</a></li>
        }
    }
</ul>
