@model Sitecore.Mvc.Presentation.RenderingModel
<div class="medium-6 columns">
    @Html.Sitecore().Field("MainImage", new { @class = "thumbnail", w = 650, h = 350, @as = 1, bc = "white" })
    <div class="row small-up-4">
        <div class="column">
            @Html.Sitecore().Field("SecondaryImage1", new { @class = "thumbnail", w = 250, h = 200, @as = 1, bc = "white" })
        </div>
        <div class="column">
            @Html.Sitecore().Field("SecondaryImage2", new { @class = "thumbnail", w = 250, h = 200, @as = 1, bc = "white" })
        </div>
        <div class="column">
            @Html.Sitecore().Field("SecondaryImage3", new { @class = "thumbnail", w = 250, h = 200, @as = 1, bc = "white" })
        </div>
        <div class="column">
            @Html.Sitecore().Field("SecondaryImage4", new { @class = "thumbnail", w = 250, h = 200, @as = 1, bc = "white" })
        </div>
    </div>
</div>
